<html lang="en">
<body>
    <style>
        .hi-tips {
            width: 80%;
            height: 50px;
            background-color: #dfefda;
            text-align: center;
            line-height: 50px;
            border-radius: 6px;
            color: #417542;
            font-size: 25px;
            border: 2px solid #95c172;
            margin: 10px auto;
        }
    </style>
    <div class="hi-tips" {{customHiTipsStyle01}}>{{customTips01}}</div>
	<img src="{{imgPath}}" {{customImgStyle01}}/>
</body>
</html>